name: CI/CD to Azure Container Registry

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [OrderService, ProductService]

    steps:
    # Step 1: Checkout code
    - name: Checkout repository
      uses: actions/checkout@v3

    # Step 2: Set up Docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Step 3: Log in to Azure Container Registry
    - name: Log in to ACR
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.ACR_NAME }}.azurecr.io
        username: ${{ secrets.AZURE_CLIENT_ID }}
        password: ${{ secrets.AZURE_CLIENT_SECRET }}

    # Step 4: Build and push Docker image
    - name: Build and push Docker image
      run: |
        IMAGE_NAME="${{ secrets.ACR_NAME }}.azurecr.io/${{ matrix.service }}"
        IMAGE_NAME_LOWER=$(echo $IMAGE_NAME | tr '[:upper:]' '[:lower:]')
        echo "Building and pushing $IMAGE_NAME_LOWER:latest"
        docker build -t $IMAGE_NAME_LOWER:latest ./${{ matrix.service }}
        docker push $IMAGE_NAME_LOWER:latest
